<h1>Pirate</h1>
<h2>Name: <%= @pirate.name %></h2>
<h2>Weight: <%= @pirate.weight %></h2>
<h2>Height: <%= @pirate.height %>


<h2>Ship 1</h2>
<h3>Name: <%= @ship_1.name %></h3>
<h3>Type: <%= @ship_1.type %></h3>
<h3>Booty: <%= @ship_1.booty %></h3>


<h2>Ship 2</h2>
<h3>Name: <%= @ship_2.name %></h3>
<h3>Type: <%= @ship_2.type %></h3>
<h3>Booty: <%= @ship_2.booty %></h3>
